<head>
  <title>Public Recipes</title>
</head>
<body>
  <h1 class="recipe-title">Public Recipes</h1>
  <% if @recipes.empty? %>
    <h2 class="no-recipes-subtitle">No public recipes yet</h2>
    <%= link_to 'Create a Public Recipe!', new_recipe_path, class: "recipe-link" %>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-container">
        <div>
          <%= link_to recipe.name, recipe, class: "recipe-link title-link" %>
          <p class="recipe-author">By: <%= recipe.user.name %></p>
        </div>
        <p class="recipe-description"><strong>Description:</strong> <%= recipe.description %></p>
      </div>
    <% end %>
    <div class="link-container">
      <%= link_to 'Create a public recipe!', new_recipe_path, class: "recipe-link new-recipe-link" %>
    </div>
  <% end %>
</body>
