<!DOCTYPE html>
<html>
<head>
  <title>Recipes Index</title>
  <%= stylesheet_link_tag 'recipes/recipe_index' %>
</head>
<body>
  <h1>Recipes</h1>
  <% if @recipes.empty? %>
    <h2>There are no recipes created yet</h2>
    <%= link_to 'Create One!', new_recipe_path, class: "recipe-link" %>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="recipe-container">
        <div>
          <%= link_to recipe.name, recipe, class: "recipe-link title-link" %>
          <% if recipe.user == current_user %>
            <%= render partial: 'delete_form', locals: { recipe: recipe } %>
          <% end %>
        </div>
        <p class="recipe-description">Description: <%= recipe.description %></p>
      </div>
    <% end %>
    <%= link_to 'Create new recipe', new_recipe_path, class: "recipe-link" %>
  <% end %>
</body>
</html>

