<head>
    <title>Recipe <%= @recipe.name %></title>
  </head>
  <body>
    <h1 class="recipe-title"><%= @recipe.name %></h1>
    <div>
      <% if @recipe.preparation_time >= 60 && @recipe.cooking_time >= 60 %>
      <p>
        Preparation time: <%= @recipe.preparation_time / 60 %>:<%=
        @recipe.preparation_time % 60 %> hour
      </p>
      <p>
        Cooking time: <%= @recipe.cooking_time / 60 %>:<%= @recipe.cooking_time
        % 60 %> hour
      </p>
      <% else %>
      <p>Preparation time: <%= @recipe.preparation_time %> mins</p>
      <p>Cooking time: <%= @recipe.cooking_time %> mins</p>
      <% end %> <%= @recipe.description %> <% if @recipe.public %>
      <p>Public Recipe</p>
      <% else %>
      <p>Private Recipe</p>
      <% end %>
      <% if current_user == @recipe.user %>
        <%= form_for @recipe, url: recipe_path(@recipe), method: :put do |f| %>
          <%= f.hidden_field :public, value: !@recipe.public ? true : false%>
          <%= f.submit @recipe.public ? "Make Private" : "Make Public", class: 'toggle-button' %>
        <% end %>
      <% end %>

      <h2 class="text-2xl font-bold mb-4">Ingredients</h2>
      <table class="w-full table-auto">
        <!-- Table Headers -->
        <thead>
          <tr>
            <th class="px-4 py-2">Food</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Value</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.recipe_foods.each do |recipe_food| %> <% if
          recipe_food.food %>
          <tr>
            <td class="border px-4 py-2"><%= recipe_food.food.name %></td>
            <td class="border px-4 py-2">
              <%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit
              %>
            </td>
            <td class="border px-4 py-2">$<%= recipe_food.food.price %></td>
            <td class="border px-4 py-2">
              <a href="#" class="text-blue-500">Modify</a> |
              <a href="#" class="text-red-500">Remove</a>
            </td>
          </tr>
          <% end %> <% if recipe_food.errors.any? %>
          <ul>
            <% recipe_food.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %> <% end %>
        </tbody>
      </table>
      <div class="mt-6">
      <%= link_to generate_shopping_list_recipe_path(@recipe), class: 'inline-block' do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Generate shopping list
        </button>
      <% end %>

        <!-- Button to Open the Modal -->
        <button onclick="openModal()">Add Ingredient</button>
        <!-- Modal Content -->
        <div id="addIngredientModal" class="modal" style="display: none">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close" onclick="closeModal()">&times;</span>
              <h2>Add Ingredient</h2>
            </div>
            <div class="modal-body">
              <%= form_for [@recipe, RecipeFood.new], url: recipe_recipe_foods_path(@recipe), data: { turbo: "false" } do |f| %>
                <div class="mb-3">
                  <%= f.label :food_id, "Select Food" %> <%= f.collection_select :food_id, Food.all, :id, :name %>
                </div>
                <div class="mb-3">
                  <%= f.label :quantity, "Quantity" %> <%= f.number_field :quantity %>
                </div>
                <%= f.submit "Add Ingredient" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function openModal() {
        console.log("Opening modal...");
        document.getElementById("addIngredientModal").style.display = "block";
      }
      function closeModal() {
        console.log("Closing modal...");
        document.getElementById("addIngredientModal").style.display = "none";
      }
    </script>
  </body>
