<nav class="navbar">
  <div class="navbar-content">
    <%= link_to "Recipe App", root_path, class: "navbar-brand" %>

    <div class="navbar-links">
        <% if user_signed_in? %>
    <span> Welcome, <%= current_user.email %></span>
    <%= link_to 'My Recipes', recipes_path %>
    <%= link_to 'Public Recipes', public_recipes_index_path %>
    <%= link_to 'My Foods', foods_path %>
    <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag 'Log Out', style: 'color: #047fff; cursor: pointer;' %>
        <% end %>
  <% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Log In', new_user_session_path %>
  <% end %>
    </div>
  </div>
</nav>
