<h2>Your Foods</h2>

<%= link_to 'Add New Food', new_food_path, style: "background-color: #4CAF50; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px; float: right;" %>
<div style="clear: both;"></div> <!-- To clear the float -->

<table style="border-collapse: collapse; margin: 20px auto;">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">Measurement Unit</th>
      <th scope="col" class="px-6 py-3">Price</th>
      <th scope="col" class="px-6 py-3">Quantity</th>
      <th scope="col" class="px-6 py-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr style="background-color: #f5f5f5; border: 1px solid #ddd;">
        <th scope="row" style="padding: 8px; text-align: left; border: 1px solid #ddd;"><%= food.name %></th>
        <td style="padding: 8px; text-align: left; border: 1px solid #ddd;"><%= food.measurement_unit %></td>
        <td style="padding: 8px; text-align: left; border: 1px solid #ddd;"><%= food.price %>$</td>
        <td style="padding: 8px; text-align: left; border: 1px solid #ddd; color: green;"><%= food.quantity %></td>
        <td style="padding: 8px; text-align: left; border: 1px solid #ddd;">
          <%= link_to 'Edit', edit_food_path(food), style: "color: #337ab7; text-decoration: none;" %> |
          <%= form_with url: food_path(food), method: :delete do |form| %>
            <%= form.submit 'Delete', data: { confirm: 'Are you sure?' }, style: "color: red; background: none; border: none; padding: 0; font: inherit; cursor: pointer; text-decoration: underline;" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
